@model IEnumerable<frontend.Models.Manga>
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-action="Index" asp-controller="Manga" asp-route-Id="5">Link para -> Lubu</a>
</div>

